{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prog with Jr | One API</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
<header>
    <h1>One API</h1>
</header>
<main>
    <section class="how-to">
        <h2>How to Use this Free API</h2>
        <p>Use this endpoint to integrate into your projects:</p>
        <code>Github Source Code: <a href="https://github.com/prgrmr-jr/one-api">One API</a>
            <br/>or<br/>
        Contact: <a href="https://www.facebook.com/prgmr.joserey">ProgwithJr</a>
        </code>
       
    </section>
</main>
<footer>
    <p>&copy; 2024 One API by <a href="https://www.progwithjr.com"
                                 style="text-decoration: none; color:deepskyblue">ProgwithJr</a>. All rights
        reserved.</p>
</footer>
</body>
</html>
